body {
  background-color: #b5bccc;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.input {
  display: block;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  outline: none;
  border: none;
}

.input-list {
  padding-left: 0;
  font-size: 26px;
}

.input-list li {
  cursor: pointer;
  margin-bottom: 10px;
}

.country__title-name {
  text-align: center;
  font-size: 52px;
  margin-top: 0;
}

.country__box {
  display: flex;
  justify-content: center;
}

.country__content {
  margin-right: 60px;
}

.country__text {
  font-size: 32px;
}

.country__text span {
  font-weight: bold;
}

.country__languages-list {
  font-size: 32px;
  padding-left: 60px;
}

.country__img {
  width: 30%;
  margin-left: 50px;
}
.country__Content {
  display: flex;
}
.searchCountryContainer {
  margin-left: 35vw;
}
